# Exploratory Data Analysis (EDA)

In [6]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Pandas configuration for extending the number of columns and rows to show
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [8]:
# Loading the CSV file as dataframe
hotels_df = pd.read_csv("./data/hotel_bookings_modified.csv")

C:\Users\fuque\AppData\Local\Temp\ipykernel_28112\935585579.py:2: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  hotels_df = pd.read_csv("./data/hotel_bookings_modified.csv")

In [9]:
# Showing dataframe dimensions
hotels_df.shape

(58895, 33)

In [10]:
# Showing column types
hotels_df.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                 float64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                            object
days_in_waiting_list              float64
customer_type                      object
adr                               float64
required_car_parking_spaces       float64
total_of_special_requests         float64
reservation_status                 object
reservation_status_date            object
kids                              float64
dtype: object

In [ ]:
hotels_df.sample(5) # Showing a sample of n rows

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,kids
56668,City Hotel,1,198,2016.0,September,37,9,1,2,2,0.0,0,BB,PRT,Groups,TA/TO,0,0,0,A,A,0,Non Refund,37.0,NaN,0.0,Transient,120.00,0.0,0.0,NaN,2016-03-15,NaN
7564,Resort Hotel,0,291,2016.0,August,34,15,1,2,3,1.0,0,BB,GBR,Online TA,TA/TO,0,0,0,H,H,1,No Deposit,240.0,NaN,0.0,Transient,236.67,0.0,2.0,Check-Out,2016-08-18,NaN
57550,City Hotel,1,16,2016.0,September,40,27,0,2,2,0.0,0,SC,VEN,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,9.0,NaN,0.0,Transient,129.00,0.0,1.0,Canceled,2016-09-22,NaN
41263,City Hotel,1,0,2015.0,August,33,14,0,2,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,No Deposit,6.0,NaN,0.0,Transient-Party,109.00,0.0,0.0,Canceled,2015-08-14,NaN
23495,Resort Hotel,0,6,2016.0,April,18,26,0,1,2,0.0,0,BB,ESP,Direct,Direct,0,0,0,A,D,0,No Deposit,NaN,NaN,0.0,Transient,77.00,0.0,1.0,Check-Out,2016-04-27,NaN

In [13]:
# Showing the number of unique values of countries
# This can be helpful to diagnose duplicity
# No se si vale la pena ponerlo solo me copie xd
hotels_df["country"].nunique()

141